{% load static %}

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Čo je SLU?</h2>
        <p class="lead">
            Stredoškolská liga Ultimate Frisbee (SLU) je športová liga určená pre žiakov stredných,
            prípadne základných škôl. Má dve nezávislé časti, letnú a zimnú (halovú), ktoré zdieľajú 
            rovnaké pravidlá. SLU pozostáva z troch regionálnych kôl na západnom, strednom a východnom 
            Slovensku, ktoré slúžia ako kvalifikácia a z finálového kola, na ktoré postúpi osem 
            najlepších tímov. Každý tím reprezentuje vysielajúcu školu. 
        </p>
        <p class="lead">
            SLU bola založené v marci 2018 a je zaštrešená Slovenskou asociáciou Frisbee.
        </p>
    </div>
    <div class="col-md-5 text-center">
        {% if indoor %}
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/blue_icon.png' %}" alt="SLU srdiečko" width="400" height="auto">
        {% endif %}
        {% if outdoor %}
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/red_icon.png' %}" alt="SLU srdiečko" width="400" height="auto">
        {% endif %}
    </div>
</div>
<hr class="featurette-divider">
