{% load static %}

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Čo je SLU?</h2>
        <p class="lead">
            Stredoškolská liga Ultimate Frisbee (SLU) je športová liga určená pre žiakov stredných,
            prípadne základných škôl. Má dve nezávislé časti, letnú a zimnú (halovú), ktoré zdieľajú 
            rovnaké pravidlá. SLU pozostáva z troch regionálnych kôl a z finálového kola. Regionálne 
            kolá sa konajú na západnom, strednom a východnom Slovensku a slúžia ako kvalifikácia 
            na finále, na ktoré postúpi osem najlepších tímov. 
        </p>
        <p class="lead">
            SLU bola založená v marci 2018 a je každoročne zaštrešovaná aj financovaná Slovenskou 
            asociáciou Frisbee.
        </p>
    </div>
    <div class="col-md-5 text-center">
        {% if indoor %}
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/blue_icon.png' %}" alt="SLU srdiečko" width="400" height="auto">
        {% endif %}
        {% if outdoor %}
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/red_icon.png' %}" alt="SLU srdiečko" width="400" height="auto">
        {% endif %}
    </div>
</div>
<hr class="featurette-divider">
