body {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-width: 900px;
    font-size: 17px;
}

form {
    text-align: center;
    overflow-x: auto;
}

.content {
    margin: 100px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #efefef;
    margin-bottom: 50px;
    margin-top: 25%;
    opacity: 0.95;
    padding: 20px;
    padding-top: 50px;
}

table {
    margin: auto;
    width: 55%;
}

h1 {
    text-align: center;
}

p {
    padding: 25px;
    text-align: left;
}

ul, ol {
    text-align: left;
}

tr {
    height: 60px;
}

input, select, textarea {
    height: 40px;
    min-width: 200px;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

textarea {
    height: 100px;
}

label {
    margin: auto;
    margin-right: 20px;
}

#c {
    text-align: center;
}

input[type=submit] {
    background-color: #0a2aa0;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-top: 40px;
}

input[type=submit]:hover {
    font-weight: bold;
}

.last-one {
    margin-bottom: 20px;
}

#gdpr {
    width: 90%;
    max-width: 675px;
}


@media (max-width: 1000px) {
    * {
        font-size: 15px;
    }

    table {
        width: 100%;
    }

    #gdpr {
        max-width: 1000px;
    }

    body {
        min-width: 400px;
    }

    input[type=submit] {
        width: 300px;
    }

    label {
        font-weight: normal;
    }

    #gdpr input {
        min-width: 50px;
    }
}

@media (max-width: 900px) {
    .content {
        margin: 20px;
        margin-top: 25%;
    }
}

@media (max-width: 500px) {
    input[type=submit] {
        width: 200px;
    }

    * {
        font-size: 14px;
    }

    input, select, textarea {
        font-size: 14px;
        min-width: 150px;
    }

    h1 {
        font-size: 200%;
    }

    .content {
        margin: 0;
        margin-top: 25%;
    }
}
