{% extends "base.html" %}

{% load form_utils %}
{% load bootstrap4 %}

{% block title %}Prihlásenie{% endblock %}

{% block content %}
    <div class="container marketing">

        <div class="featurette">
            <div class="alert alert-info">
                Bol vám zaslaný e-mail s odkazom na prihlásenie. 
                Kliknutím naň budete automaticky prihlásený, avšak 
                platnosť odkazu o 60 sekúnd vyprší, potom budete musieť 
                akciu opakovať.
            </div>
        </div>
        <hr class="featurette-divider">

    </div>
{% endblock %}