{% extends "base.html" %}

{% block content %}
    <div class="container marketing">
        <h2 class="featurette-heading mb-4">{{ tournament }}</h2>
        {% if tabs %}
            <ul class="nav nav-tabs">
                {% for title,url,warn in tabs %}
                    <li class="nav-item">
                        <a class="nav-link{% ifequal url request.get_full_path %} active{% endifequal %}" href="{% ifnotequal url request.get_full_path %}{{ url }}{% endifnotequal %}">
                            {{ title }}
                            {% if warn %}
                                <span class="badge badge-warning">{{ warn }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                {% if toolbox %}
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Správa turnaja</a>
                        <div class="dropdown-menu">
                            {% for group in toolbox %}
                                {% for tool,url in group %}
                                    <a class="dropdown-item" href="{{ url }}">{{ tool }}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        <div class="mt-4">
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
