<div class="row mb-1">
    <div class="col-md-4">
        <span class="lead">Región:</span>
    </div>
    <div class="col-md-8">
        <p class="lead mb-0">
            {% ifequal tournament.region 'W' %}
                <span class="badge badge-pill badge-danger px-3">západné Slovensko</span>
            {% endifequal %}
            {% ifequal tournament.region 'M' %}
                <span class="badge badge-pill badge-warning px-3">stredné Slovensko</span>
            {% endifequal %}
            {% ifequal tournament.region 'E' %}
                <span class="badge badge-pill badge-success px-3">východné Slovensko</span>
            {% endifequal %}
            {% ifequal tournament.region 'F' %}
                <span class="badge badge-pill badge-primary px-3">finále</span>
            {% endifequal %}
        </p>
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4">
        <span class="lead">Miesto:</span>
    </div>
    <div class="col-md-8">
        <span class="lead">{{ tournament.place }}</span>
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4">
        <span class="lead">Termín:</span>
    </div>
    <div class="col-md-8">
        <span class="lead">{{ tournament.date }}</span>
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4">
        <span class="lead">Hrací formát:</span>
    </div>
    <div class="col-md-8">
        <p class="lead mb-0"><a href="{% url 'content:rules' %}" class="badge badge-pill badge-info px-3">
            {% ifequal tournament.season.game_format 'man' %}
                Muži
            {% endifequal %}
            {% ifequal tournament.season.game_format 'open' %}
                Open
            {% endifequal %}
            {% ifequal tournament.season.game_format 'loose_mix' %}
                Loose Mix
            {% endifequal %}
            {% ifequal tournament.season.game_format 'mix' %}
                Mix
            {% endifequal %}
            {% ifequal tournament.season.game_format 'woman' %}
                Ženy
            {% endifequal %}
        </a></p>
    </div>
</div>

{% if next %}
    <div class="row mb-1">
        <div class="col-md-4">
            <span class="lead">Registrácia do:</span>
        </div>
        <div class="col-md-8">
            {% if tags.2 %}
                {% if tags.1 %}
                    <p class="lead mb-0"><span class="badge badge-pill badge-danger px-3">Kapacita naplnená</span></p>
                {% else %}
                    <span class="lead">{{ tournament.signup_deadline }}</span>
                    {% if tags.0 %}
                        <p class="lead d-inline mb-0">&ensp;<span class="badge badge-warning">Posledné miesta</span></p>
                    {% endif %}
                {% endif %}
            {% else %}
                <p class="lead mb-0"><span class="badge badge-pill badge-danger px-3">Registrácia uzavretá</span></p>
            {% endif %}
        </div>
    </div>
{% endif %}
