{% extends "base.html" %}

{% block title %}Chyba 500{% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="alert alert-danger">
            <b>Serverová chyba!</b> Ospravedlňujeme sa za spôsobené komplikácie.
            Správca webu bol o tejto chybe upovedomený a bude ju riešiť,
            akciu prosím opakujte neskôr, alebo nás kontaktujte prostredníctvom 
            kontaktného formulára, prípadne priamo emailu.
        </div>
    </div>
{% endblock %}