{% load staticfiles %}

<!DOCTYPE html>
<html lang="sk">
    <head>
        <!-- Basic HTML meta tags -->
        <meta charset="utf-8">
        <meta name="keywords" content="SLU, stredoškolská, liga, ultimate, frisbee, disk">
        <meta name="news_keywords" content="SLU, stredoškolská, liga, ultimate, frisbee, disk">
        <meta name="description" content="Registračný portál Stredoškolskej ligy ultimste frisbee">
        <meta name="subject" content="Stredoškolská liga ultimate frisbee">

        <meta name="language" content="SK">
        <meta name="revised" content="Monday, July 20th, 2019, 12:00 pm">

        <meta name="classification" content="Business">
        <meta name="owner" content="Slovenská asociácia Frisbee">
        <meta name="author" content="Martin Števko">
        <meta name="designer" content="Martin Števko">
        <meta name="copyright"content="Martin Števko">

        <meta name="url" content="https://slu.szf.sk">
        <meta name="identifier-URL" content="https://slu.szf.sk">

        <meta name="coverage" content="worldwide">
        <meta name="distribution" content="global">
        <meta name="rating" content="general">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- OpenGraph meta tags -->
        <meta property="og:url" content="{{ request.META.HTTP_HOST }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Stredoškolská liga ultimate frisbee">
        <meta name="og:site_name" content="SLU"/>
        <meta property="og:description" content="Registračný portál Stredoškolskej ligy ultimste frisbee">
        <meta property="og:image" content="{% static 'img/logo.jpg' %}">

        <meta name="fb:page_id" content="StredoskolskaLigaUltimate">

        <meta name="og:region" content="SR"/>
        <meta name="og:country-name" content="Slovakia"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            main {
                margin-top: 56px;
            }

            main > div.container {
                padding-top: 44px;
            }

            label.required::after {
                content: ' *';
                color: red;
            }

            .dropdown-toggle::after {
                transition: transform 0.15s linear; 
            }
            
            .show.dropdown .dropdown-toggle::after {
                transform: translateY(3px);
            }
        </style>
        {% block css %}
        {% endblock %}

        <!-- Title and icon -->
        <title>{% block title %}{% endblock %} | SLU</title>

        {% if indoor %}
            <link rel="icon" href="{% static 'img/blue_icon.png' %}" type="image/png">
        {% endif %}
        {% if outdoor %}
            <link rel="icon" href="{% static 'img/red_icon.png' %}" type="image/png">
        {% endif %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'content:home' %}">SLU</a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% if 'rules' in request.build_absolute_uri %}active{% endif %}">
                                <a class="nav-link" href="{% url 'content:rules' %}">Pravidlá</a>
                            </li>
                            <li class="nav-item {% if 'ultimate' in request.build_absolute_uri %}active{% endif %}">
                                <a class="nav-link" href="{% url 'content:ultimate' %}">O ultimate</a>
                            </li>
                            <li class="nav-item {% if 'tournament' in request.build_absolute_uri %}active{% endif %}">
                                <a class="nav-link" href="{% url 'tournament:list' %}">Turnaje</a>
                            </li>
                            <li class="nav-item dropdown">
                                {% if user.is_authenticated and my_tournaments %}
                                    <a class="nav-link dropdown-toggle" href="#" id="my_tournaments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Moje turnaje</a>
                                    <div class="dropdown-menu" aria-labelledby="my_tournaments">
                                        {% for tournament in my_tournaments %}
                                            <a class="dropdown-item" href="{% url 'tournament:detail' tournament.id %}">{{ tournament }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </li>
                            <li class="nav-item {% if 'contact' in request.build_absolute_uri %}active{% endif %}">
                                <a class="nav-link" href="{% url 'content:contact' %}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">
            {% block content %}
            {% endblock %}

            <!-- MODAL -->
            <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cookieModalLabel">SLU súbory cookie</h5>
                        </div>
                        <div class="modal-body">
                            Táto stránka používa súbory cookie na zjednodušenie ovládania stránky.
                            Pokračovaním v používaní stránky s tým súhlasíte.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" onclick="$.cookie('cAgree', true, { expires : 100 });">Súhlasím</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <footer class="container">
                {% if not user.is_authenticated %}
                    <p class="float-right"><a href="{% url 'admin:login' %}">Prihlásiť sa</a></p>
                {% else %}
                    <p class="float-right">
                        <a href="{% url 'admin:index' %}" style="margin-right: 20px;">Administrátor</a>
                        <a href="{% url 'admin:logout' %}">Odhlásiť sa</a>
                    </p>
                {% endif %}
                <p>© <a href="https://szf.sk/">Slovenská asociácia Frisbee</a></p>
            </footer>
        </main>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script>
            $(function() {
                try {
                    $(':input[required]').parent().parent().children().filter('label').addClass('required');
                }
                catch {}
            });

            if (typeof $.cookie('cAgree') === 'undefined') {
                $('#cookieModal').modal('show');
            };

            const $dropdown = $(".dropdown");
            const $dropdownToggle = $(".dropdown-toggle");
            const $dropdownMenu = $(".dropdown-menu");
            const showClass = "show";
            
            $(window).on("load resize", function() {
            if (this.matchMedia("(min-width: 768px)").matches) {
                $dropdown.hover(
                function() {
                    const $this = $(this);
                    $this.addClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                    $this.find($dropdownMenu).addClass(showClass);
                },
                function() {
                    const $this = $(this);
                    $this.removeClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                    $this.find($dropdownMenu).removeClass(showClass);
                }
                );
            } else {
                $dropdown.off("mouseenter mouseleave");
            }
            });
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>
