{% extends "base.html" %}

{% load staticfiles %}
{% load form_utils %}
{% load bootstrap4 %}

{% block title %}Registrácia{% endblock %}

{% block content %}
    <div class="container marketing">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="featurette">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                {% for fieldset in form.fieldsets %}
                    <fieldset>
                        <h3>
                            {{ fieldset.name }}<br>
                        </h3>
                        {% if fieldset.description %}
                            <p>
                                {{ fieldset.description }}
                            </p>
                        {% endif %}
                        {% for field in fieldset %}
                            {% bootstrap_field field layout='horizontal' %}
                        {% endfor %}
                    </fieldset>
                {% endfor %}

                <small><span style="color: red">*</span>Toto pole je povinné</small>
                <button class="btn btn-primary btn-block" type="submit">Odoslať</button>
            </form>
        </div>
        <hr class="featurette-divider">

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/typeahead.min.js' %}"></script>
    <script>
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                matches = [];
                substrRegex = new RegExp(q, 'i');

                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var schools = [
        {% for school in schools %}
            "{{ school }}",
        {% endfor %}
        ];

        $('#id_choose_school.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1,
            name: 'schools',
            source: substringMatcher(schools)
        });
    </script>
{% endblock %}